<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Web App :: {{page_title}}</title>
    <link rel="stylesheet" href="{{static_url}}/css/main.v0ee1162a0ddca2923da0801cb1aac04b.min.css">
  </head>
  <body>